_CommonRedist/
content/dota_imported/
game/dota_addons/holdout_example/
game/dota/panorama/
game/dota/
game/core/
dota/guides/
dota/imagecache/
dota/resource/
dota/itembuilds/
dota/config/
game/bin/
game/dota_addons/addon_template/
dota/
dota_ugc/
game/dota_addons/dota_pvp/
game/dota_addons/overthrow/
game/dota_addons/multiteam_example/
game/dota_addons/lua_ability_example/
game/dota_addons/tutorial_assist_game/
game/dota_addons/tutorial_basics/
game/dota_addons/hero_demo/
content/dota_core/
game/dota_addons/adventure_example/
dota.exe
game/_toolsettings/
debug.log
game/dota_addons/dota2cfg.cfg
content/dota_addons/overthrow/
game/dota_core/
game/dota_imported/
content/dota_addons/dota_pvp/
content/dota_addons/multiteam_example/
content/dota_addons/lua_ability_example/
content/dota_addons/holdout_example/
steam_appid.txt
content/core/
bin/
platform/
content/dota_addons/addon_template/
content/dota_addons/adventure_example/
game/dota_koreana_imported/
game/dota_koreana/
game/dota_lv/
game/dota_lv_imported/
game/dota_schinese/
game/dota_schinese_imported/
game/thirdpartylegalnotices.txt
thirdpartylegalnotices.txt
game/dota_addons/vampirism/tools_thumbnail_cache.bin
game/dota_addons/vampirism/tools_asset_info.bin
*.vmap_autosave