game/core/
game/dota_addons/addon_template/
game/dota_addons/DotaFusions/
game/dota_addons/adventure_example/resource/flash3/custom_ui.txt
game/dota_addons/adventure_example/
game/dota/
game/dota_addons/holdout_example/itembuilds/default_legion_commander.txt
game/dota_addons/holdout_example/
content/dota_core/materials/
content/dota_addons/powertowers/
content/dota_core/
content/_toolsautosave/
content/core/dev/avi/renderavi.vmat
game/816_install.vdf
game/_toolsettings/
game/bin/
content/dota_addons/multiteam_example/
content/dota_addons/holdout_example/
game/dota_addons/powertowers/
content/dota_addons/DotaFusions/
content/dota_addons/addon_template/
content/dota_addons/adventure_example/
content/core/
game/dota_imported/
game/dota_core/
game/dota_koreana/
game/dota_koreana_imported/
game/dota_lv/
game/dota_lv_imported/
game/dota_schinese/
game/dota_schinese_imported/
game/dota_addons/dota2cfg.cfg
content/dota_addons/dota_pvp/
game/thirdpartylegalnotices.txt
game/dota_addons/multiteam_example/
game/dota_addons/dota_pvp/
game/dota_addons/vampirism/tools_asset_info.bin
content/dota_addons/barebones/
content/dota_addons/slide_ninja_slide/
content/dota_addons/sns_fixed/
content/dota_addons/test1/
content/dota_addons/test2/
content/dota_addons/thememegame/

game/dota_addons/barebones/
game/dota_addons/slide_ninja_slide/
game/dota_addons/sns_fixed/
game/dota_addons/test1/
game/dota_addons/test2/
game/dota_addons/thememegame/
game/dota_addons/vampirism/tools_thumbnail_cache.bin
